.list__footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid grey;
  padding: 8px 16px;
  margin-top: 8px;
}

.btn {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  border-radius: 13px;
  border: none;
  /*border: 1px solid grey;*/
  cursor: pointer;
  /*transition: box-shadow linear 0.25s;*/
}

.btn:focus {
  border: none;
  outline: none;
}
.btn:active {
  border: none;
  outline: none;
}


.btn-delete {
  background-image: url('../../img/icon2.png');
  background-position: 0px -30px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.btn-delete:hover {
  background-position: 0px 0px;
}

.btn-color {
  background-image: url('../../img/icon2.png');
  background-position: -30px -30px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.btn-color:hover {
  background-position: -30px 0px;
}




.color-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 136px;
  position: absolute;
  top: -63px;
  right: 2px;
  background-color: #fff;
  padding: 8px 0 0 8px;
}


.color-panel__btn {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 12px;
  border: 1px solid grey;
  transition: box-shadow 0.25s;
}

.color-panel__btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.12);
  transition: box-shadow 0.25s;
}

.color-panel.hidden {
  visibility: hidden;
}

.color-panel.visible {
  visibility: visible;
}


.btn-1 { background-color: #ffffff; }
.btn-2 { background-color: #FFD180; }
.btn-3 { background-color: #FF8A80; }
.btn-4 { background-color: #CFD8DC; }
.btn-5 { background-color: #FFFF8D; }
.btn-6 { background-color: #80D8FF; }
.btn-7 { background-color: #A7FFEB; }
.btn-8 { background-color: #CCFF90; }

