body {
  background-color:rgb(232, 232, 232);
}


.app {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  height: 110px;
  padding: 20px;
  color: white;
  z-index: 10;
}

.header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header__title {

}

.header__search {

}

.search__input {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 18px;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}

.search__icon {

}
.search__icon {
  display: inline-block;
  color: #fff;
  position: relative;
  left: -20px;
  top: -5px;
  margin-top: 2px;
  margin-left: 3px;
  width: 14px;
  height: 14px;
  border: solid 2px #fff;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search__icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 8px;
  width: 2px;
  background-color: #fff;
}


.container {
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;*/
  display: inline-block;
  column-count: 2;
  width: 800px;
  margin: 0 auto;
  /*border: 1px solid red;*/

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.search.icon {
  display: inline-block;
  color: #fff;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 1px #fff;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search.icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: #fff;
}


.add-list-btn:hover {
  cursor: pointer;
}

.add-list-btn {
  position: fixed;
  z-index: 20;
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  top: 150px;
  left: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 70 70" version="1.1" width="70" height="70"><g id="surface1"><path style=" " d="M 25 3 C 12.863281 3 3 12.863281 3 25 C 3 37.136719 12.863281 47 25 47 C 37.136719 47 47 37.136719 47 25 C 47 12.863281 37.136719 3 25 3 Z M 25 5 C 36.058594 5 45 13.941406 45 25 C 45 36.058594 36.058594 45 25 45 C 13.941406 45 5 36.058594 5 25 C 5 13.941406 13.941406 5 25 5 Z M 24 14 L 24 24 L 14 24 L 14 26 L 24 26 L 24 36 L 26 36 L 26 26 L 36 26 L 36 24 L 26 24 L 26 14 Z "/></g></svg>');
  
}


