body {
  background-color:rgb(232, 232, 232);
}


.app {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  height: 110px;
  padding: 20px;
  color: white;
  z-index: 10;
}

.header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header__title {

}

.header__search {

}

.search__input {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 18px;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}

.search__icon {

}
.search__icon {
  display: inline-block;
  color: #fff;
  position: relative;
  left: -20px;
  top: -5px;
  margin-top: 2px;
  margin-left: 3px;
  width: 14px;
  height: 14px;
  border: solid 2px #fff;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search__icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 8px;
  width: 2px;
  background-color: #fff;
}


.container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 0; */
  /* ******************************** */
  display: inline-block;
  column-count: 2;
  width: 800px;
  margin: 0 auto;
  /* ******************************** */
  /* float: left; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.search.icon {
  display: inline-block;
  color: #fff;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 1px #fff;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search.icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: #fff;
}






.header__add-list-btn {
  margin-right: 40px;
  height: 40px;
  padding: 0 22px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  outline: none;
  background: transparent;
  transition: 0.25s;
}

.header__add-list-btn:hover {
  transition: 0.25s;
  transform: scale(1.1);
  cursor: pointer;
}



.list-transition-enter {
  max-height: 0;
  opacity: 0.01;
}

.list-transition-enter.list-transition-enter-active {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 200ms ease-in, opacity 200ms ease-in;
}

.list-transition-exit {
  max-height: 1000px;
  opacity: 1;
}

.list-transition-exit.list-transition-exit-active {
  max-height: 0;
  opacity: 0.01;
  transition: max-height 200ms ease-in, opacity 200ms ease-in;
}
