.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  /* flex-grow: 0; */
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
