
.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-height: 24px;
    padding: 4px 14px 3px 14px;
}



.item__check {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url('../../img/icon.png');
    background-color: transparent;
    background-position: 0 0;
}

.item__check:hover {
    background-position: -24px 0;
}

.item__check.check{
    background-position: 0 -24px;
}

.item__check.check:hover {
    background-position: -24px -24px;
}


.item__content {
    /*height: 24px;*/
    line-height: 24px;
    flex-grow: 1;
    align-self: flex-start;
    font-size: 14px;
    text-align: left;
    border:none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
}

.item__content.check {
    text-decoration: line-through;
}

.item__content:focus {
    border:none;
    outline: none;
    text-decoration: underline;
}




.item__delete {
    visibility: hidden;
    width: 24px;
    height: 24px;
    border: none;
    background-image: url('../../img/icon.png');
    background-position: 0 -72px;
    background-color: transparent;
    transition: visability linear 0.25s;
}
.item__delete.visible {
    visibility: visible;
    transition: visability linear 0.25s;
}

.item__delete:hover {
    background-position: -24px -72px;
    cursor: pointer;
    transition: visability linear 0.25s;
}