.itemNew {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 24px;
    padding: 4px 14px 3px 38px;
}



.itemNew__add {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-image: url(../icon.png);
    background-color: transparent;
    background-position: 0 -48px;
}

.itemNew__add:hover {
    background-position: -24px -48px;
}

.itemNew__add:active {
    outline: none;
    border: none;
}
.itemNew__add:focus {
    outline: none;
    border: none;
}

.itemNew__content {
    min-height: 24px;
    flex-grow: 1;
    align-self: flex-start;
    font-size: 14px;
    text-align: left;
    border:none;
    background-color: transparent;
}

.itemNew__content:focus {
    border:none;
    outline: none;
    text-decoration: underline;
}
